.container {
  position: relative;
}
.container p {
  font-size: 11px;
  margin-top: 7px;
  color: #ce4546;
  margin-left: 2px;
}

.password {
  height: 45px;
  width: 100%;
  border: 1.5px solid #e7f0f7;
  border-radius: 8px;
  color: #000000;
  font-size: 14px;
  padding: 14px 50px 14px 14px;
}

.password:focus {
  border-color: #6f6d6c7d;
}

.error .password,
.error .password:focus {
  border-color: #ce454699;
}
.container span {
  position: absolute;
  right: 15px;
  top: 3px;
  font-size: 22px;
  cursor: pointer;
}

.validation_container .check {
  width: 10px;
  height: 10px;
  margin-right: 6px;
  fill: green;
}

.validation_container .cross {
  width: 8px;
  height: 8px;
  margin-right: 6px;
  fill: #ce4546;
}

.validations {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
.validations p {
  font-size: 12px;
  color: #838383;
}
