.container p {
    font-size: 11px;
    margin-top: 7px;
    color: #CE4546;
    margin-left: 2px;
}

.input {
    height: 45px;
    width: 100%;
    border: 1.5px solid #E7F0F7;
    border-radius: 8px;
    padding: 14px;
    color: #000000;
    font-size: 14px;
}

.input:focus {
    border-color: #6f6d6c7d;
}

.error input,
.error :focus {
    border-color: #ce454699;
}